<form action="">
   
      <div class="login-container">
  <div class="login-box">
    <!-- <h1 class="logo">
      <span style="color:#4285F4">G</span>
      <span style="color:#DB4437">o</span>
      <span style="color:#F4B400">o</span>
      <span style="color:#4285F4">g</span>
      <span style="color:#0F9D58">l</span>
      <span style="color:#DB4437">e</span>
    </h1> -->
    <img src="assets/googlePic.png" alt="Google text" width="100px" height="50px">
    <h2>Login</h2>
    <p class="subtitle">Use your Google Account</p>
    <input type="text" placeholder="Email or phone*" class="input-field" />
    <input type="password" placeholder="Password*" class="input-field" />

    <div class="options">
      <a href="#" class="forgot">forgot Password?</a>
    </div>

    <div class="actions">
      <a href="#" class="create-account">Create account</a>
      <button class="login-button">Login</button>
    </div>
  </div>
</div>

    
</form>
