<div class="container">
  <div class="form-card">
    <div class="form-left">
      <div class="google-logo">
        <span style="color:#4285F4">G</span>
        <span style="color:#DB4437">o</span>
        <span style="color:#F4B400">o</span>
        <span style="color:#4285F4">g</span>
        <span style="color:#0F9D58">l</span>
        <span style="color:#DB4437">e</span>
      </div>
      <h2>Create your Google Account</h2>

      <div class="row">
        <input type="text" placeholder="First Name*" />
        <input type="text" placeholder="Last Name*" />
      </div>

      <input type="text" class="full" placeholder="username*" />
      <p class="hint">you can use letters, numbers & periods</p>
      <a href="#" class="link">Use my current email instead</a>

      <div class="row">
        <input type="password" placeholder="Password*" />
        <input type="password" placeholder="Confirm*" />
      </div>
      <p class="hint">Use 8 or more characters with a mix of letters, numbers & symbols</p>

      <div class="show-password">
        <input type="checkbox" id="showPwd" />
        <label for="showPwd">Show Password</label>
      </div>

      <div class="bottom-row">
        <a href="#" class="link">Sign in insted</a>
        <button class="next-btn">Next</button>
      </div>
    </div>

    <div class="form-right">
      <img src="assets/googleemail.jpg" alt="avatar" />
      <p>One account. All of Google working for you.</p>
    </div>
  </div>
</div>
